/**********************************
GENERAL
***********************************/

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #000000;
  padding: 0 0 0 0;
  /*color: #0000;*/
  text-decoration-color: #ffffff;
}
/*h3{
  font-size: 30px;
}*/


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
}
/*
.introduccion{
  margin-left: 10%;
  margin-right: 10%;
}

.introduccion h3,p{
  color: #FFFFFF;
}
.formularioBuscador label{
  color: #FFFFFF;
}

#primary{
  background-color: #ffffff;
}
#secondary{
  background-color: #ffffff;
}
#wrapper{
  background-color: #ffffff;
}
#contacForm{
  background-color: #ffffff;
}
#CECYTE{
  background-color: #ffffff;
}
#gallery{
  background-color: #ffffff;
}*/

/**********************************
HEADING
***********************************/

.header {
  background-color: #000000;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

.header h1 {
  font-family: 'Days One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

.header h2 {
  font-size: 1em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

.menuPrincipal {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

.menuPrincipal ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.menuPrincipal li {
  display: inline-block;
}

.menuPrincipal a {
  font-weight: 800;
  padding: 15px 10px;
}



/**********************************
FOOTER
***********************************/

.footerRRSS {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.footerRRSS.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**********************************
PAGE: LOGIN
***********************************/

.loginForm{
  border:10px solid #FFFFFF;
  padding: 5%;
  display: block;
  margin: 10%;
}
.loginForm input{
  width: 19%;
  margin-top:5%;
  border-radius: 2px;
  border: 2px solid white;
}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}


/**********************************
CONTACT FORM
***********************************/

.form-control {
  margin: 5px 0;
}
/*aqui hay qque quitar el punto de form*/
.form textarea {
  width: 20em;
}

/**********************************
COLORS
***********************************/
/* site body */
#parrafors{
  background: #00000000;
}
/* site body */
/* body {
  background: #fffffa;
  background-color: #0000;
  color: #999;
}*/

/* header */
.header {
  background: #000000;
  border-color: #cc6a6e;
}
.header .menuPrincipal a{
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}
.header .menuPrincipal a:hover{
  background: #ff000c;
  border-radius: 50px;
}

@media screen and (max-width: 950px) {
  .header .logo,
  .header nav {
    width:100%;
    text-align: center;
    line-height: 100px;
  }
}
/* insertar un video */
/* nav background on mobile */
.menuPrincipal {
  background: #3a0101;
}

.form-send {
  border:none;
  border-radius: 2px;
  background-color: #33adff;
  height: 40px;
  width: 70px;
  color: #fff;
}

/* logo text */
h1, h2, h3{
  color: #fff;
}

/* links */
a {
  color: #4db8ff;
}

/* nav link */
.menuPrincipal a, .menuPrincipal a:visited {
  color: #fff;
}

/* selected nav link */
.menuPrincipal a.selected, .menuPrincipal a:hover {
  color: #ff0000;
}
