<!DOCTYPE html>
<html>
  <head>
    {% load static%}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
    <!-- icono de la empresa -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GAMERUCOS</title>
    <!--<link rel="stylesheet" href="css/normalize.css" /-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static%}
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />-->
  </head>
  <body>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row justify-content-center">
        <a href="{% url 'home' %}" id="Logo">
          <img  class="rounded mx-auto d-block" src="{% static 'img/logoPrincipal2.png' %}" alt="GAMERUCOS"/>
        </a>
      </div>
        <!-- {% load static%} -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <ul class="navbar-nav navbar-collapse mr-auto">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">Inicio aqui</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'buscar' %}" class="nav-link">Buscar juego</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'recomendaciones' %}" class="nav-link">Recomendaciones</a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'acerca' %}" class="nav-link">Acerca de</a>
            </li>
            {% if logueado == 1 %}
            <li class="nav-item">
              <a href="{% url 'miPerfil' %}" class="nav-link">Mi perfil</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>
            </li>
            {% endif %}
            {% if logueado == 0 %}
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'registro' %}" class="nav-link">Registrarse</a>
            </li>
            {% endif %}          
          </ul>
        </nav>
    </div>
    </div>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row justify-content-center">
          <div class="container">
            <h3>GAM3RUC0$, una plataforma en la que los usuarios pueden valorar mediante diversos factores los juegos que hayan probado.</h3>
            <br>
            Debajo encontraran nuestras redes sociales
          </div>          
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <div class="row justify-content-center">
          {% load static%}
          <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="{% static 'img/facebook.png' %}" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a>
          <!-- <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="img/facebook.png" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a> -->
          {% load static%}
          <a href="https://twitter.com/gamerucos"><img src="{% static 'img/twitter.png' %}" alt="logo twitter" class="social-icon"></a>
          <!-- <a href="https://twitter.com/gamerucos"><img src="img/twitter.png" alt="logo twitter" class="social-icon"></a> -->
        </div>
        <div class="row justify-content-center">
          <p>&copy; 2020 GAM3RUCO$</p>
        </div>
      </div>
    </footer>
  </body>
</html>
