<!DOCTYPE html>
<html>
  <head>
     {% load static%}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
    <!-- icono de la empresa -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GAMERUCOS</title>
    <!--<link rel="stylesheet" href="css/normalize.css" /-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static%}
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />-->
  </head>
  <body>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row justify-content-center">
        <a href="{% url 'home' %}" id="Logo">
          <img  class="rounded mx-auto d-block" src="{% static 'img/logoPrincipal2.png' %}" alt="GAMERUCOS"/>
        </a>
      </div>
        <!-- {% load static%} -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav navbar-collapse mr-auto">
          <li class="nav-item active">
            <a href="{% url 'home' %}" class="nav-link">Inicio aqui</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'buscar' %}" class="nav-link">Buscar juego</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'recomendaciones' %}" class="nav-link">Recomendaciones</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'acerca' %}" class="nav-link">Acerca de</a>
          </li>
          {% if logueado == 1 %}
          <li class="nav-item">
            <a href="{% url 'miPerfil' %}" class="nav-link">Mi perfil</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>
          </li>
          {% endif %}
          {% if logueado == 0 %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'registro' %}" class="nav-link">Registrarse</a>
          </li>
          {% endif %}          
        </ul>
      </nav>
    </div>
    </div>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row justify-content-center">
          <!-- <h2><b>Bienvenido a GAM3RUCO$</b></h2> -->
          <h2><b>Bienvenido a GAMERUCOS</b></h2>
        </div>
        <hr>
        <div class="row justify-content-center">
          <h3>Ultimos videojuegos</h3>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            {% url 'videojuego' primero.id as primerVideojuego %}
            <a href="{{primerVideojuego}}"><h4><b>{{primero.nombre}}</b></h4></a>
          </div>
          <div class="col">
            {% url 'videojuego' segundo.id as segundoVideojuego %}
            <a href="{{segundoVideojuego}}"><h4><b>{{segundo.nombre}}</b></h4></a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="rounded mx-auto d-block" src="{% static primero.portada %}" alt="{{primero.nombre}}" width="100%"/>
          </div>
          <div class="col">
            <img class="rounded mx-auto d-block" src="{% static segundo.portada %}" alt="{{segundo.nombre}" width="100%"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% url 'videojuego' tercero.id as tercerVideojuego %}
            <a href="{{tercerVideojuego}}"><h4><b>{{tercero.nombre}}</b></h4></a>
          </div>
          <div class="col">
            {% url 'videojuego' cuarto.id as cuartoVideojuego %}
            <a href="{{cuartoVideojuego}}"><h4><b>{{cuarto.nombre}}</b></h4></a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="rounded mx-auto d-block" src="{% static tercero.portada %}" alt="{{tercero.nombre}}" width="100%"/>
          </div>
          <div class="col">
            <img class="rounded mx-auto d-block" src="{% static cuarto.portada %}" alt="{{cuarto.nombre}}" width="100%"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% url 'videojuego' quinto.id as quintoVideojuego %}
            <a href="{{quintoVideojuego}}"><h4><b>{{quinto.nombre}}</b></h4></a>
          </div>
          <div class="col">
            {% url 'videojuego' sexto.id as sextoVideojuego %}
            <a href="{{sextoVideojuego}}"><h4><b>{{sexto.nombre}}</b></h4></a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="rounded mx-auto d-block" src="{% static quinto.portada %}" alt="{{quinto.nombre}}" width="100%"/>
          </div>
          <div class="col">
            <img class="rounded mx-auto d-block" src="{% static sexto.portada %}" alt="{{sexto.nombre}}" width="100%"/>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <div class="row justify-content-center">
          {% load static%}
          <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="{% static 'img/facebook.png' %}" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a>
          <!-- <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="img/facebook.png" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a> -->
          {% load static%}
          <a href="https://twitter.com/gamerucos"><img src="{% static 'img/twitter.png' %}" alt="logo twitter" class="social-icon"></a>
          <!-- <a href="https://twitter.com/gamerucos"><img src="img/twitter.png" alt="logo twitter" class="social-icon"></a> -->
        </div>
        <div class="row justify-content-center">
          <p>&copy; 2020 GAM3RUCO$</p>
        </div>
      </div>
    </footer>
  </body>
</html>
