<!DOCTYPE html>
<html>
  <head>
    {% load static%}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
    <!-- icono de la empresa -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GAMERUCOS</title>
    <!--<link rel="stylesheet" href="css/normalize.css" /-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static%}
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />-->
  </head>
  <body>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row justify-content-center">
        <a href="{% url 'home' %}" id="Logo">
          <img  class="rounded mx-auto d-block" src="{% static 'img/logoPrincipal2.png' %}" class="img-fluid" alt="GAMERUCOS"/>
        </a>
      </div>
        <!-- {% load static%} -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <ul class="navbar-nav navbar-collapse mr-auto">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">Inicio aqui</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'buscar' %}" class="nav-link">Buscar juego</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'recomendaciones' %}" class="nav-link">Recomendaciones</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'acerca' %}" class="nav-link">Acerca de</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'registro' %}" class="nav-link">Registrarse</a>
            </li>       
          </ul>
        </nav>
    </div>
    </div>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <br><br>
      <form action="{% url 'registroForm' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <h4>Introduzca sus datos para el inicio de sesion</h4>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-4">
              <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="col-8">
              <input type="text" class="form-control" name="apellidos" placeholder="Apellidos">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div class="col">
              <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="correo" placeholder="Correo electronico">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Registrar">
        </div>
      </form>
    </div>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <div class="row justify-content-center">
          {% load static%}
          <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="{% static 'img/facebook.png' %}" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a>
          <!-- <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="img/facebook.png" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a> -->
          {% load static%}
          <a href="https://twitter.com/gamerucos"><img src="{% static 'img/twitter.png' %}" alt="logo twitter" class="social-icon"></a>
          <!-- <a href="https://twitter.com/gamerucos"><img src="img/twitter.png" alt="logo twitter" class="social-icon"></a> -->
        </div>
        <div class="row justify-content-center">
          <p>&copy; 2020 GAM3RUCO$</p>
        </div>
      </div>
    </footer>
  </body>
</html>
