<!DOCTYPE html>
<html>
  <head>
    <!-- {% load static%} -->
    <link rel="shortcut icon" href="img/logo.png" />
    <!-- icono de la empresa -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GAMERUCOS</title>
    <!--<link rel="stylesheet" href="css/normalize.css" /-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- {% load static%} -->
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/principal.css" />
    <script type="text/javascript">
      function suma(idCritica) {
        var nombreButtonSuma="buttonSuma"+idCritica;
        var nombreButtonResta="buttonResta"+idCritica;
        var nombreContador="contador"+idCritica;
        var contador=document.getElementById(nombreContador).innerHTML;
        contador++;
        document.getElementById(nombreContador).innerHTML=contador;
        document.getElementById(nombreButtonSuma).disabled=true;
        document.getElementById(nombreButtonResta).disabled=true;
      }
      function resta(idCritica) {
        var nombreButtonSuma="buttonSuma"+idCritica;
        var nombreButtonResta="buttonResta"+idCritica;
        var nombreContador="contador"+idCritica;
        var contador=document.getElementById(nombreContador).innerHTML;
        contador--;
        document.getElementById(nombreContador).innerHTML=contador;
        document.getElementById(nombreButtonSuma).disabled=true;
        document.getElementById(nombreButtonResta).disabled=true;
      }
    </script>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />-->
  </head>
  <body>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row justify-content-center">
        <a href="index.html" id="Logo">
          <img  class="rounded mx-auto d-block" src="img/logoPrincipal2.png" alt="GAMERUCOS"/>
        </a>
      </div>
        <!-- {% load static%} -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav navbar-collapse mr-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Inicio aqui</a>
          </li>
          <li class="nav-item">
            <a href="categorias.html" class="nav-link">Categorias</a>
          </li>
          <li class="nav-item">
            <a href="buscarJuego.html" class="nav-link">Buscar juego</a>
          </li>
          <li class="nav-item">
            <a href="perfilUsuario.html" class="nav-link">Mi perfil</a>
          </li>
          <li class="nav-item">
            <a href="contacto.html" class="nav-link">Recomendaciones</a>
          </li>
          <li class="nav-item">
            <a href="acerca.html" class="nav-link">Acerca de</a>
          </li>
        </ul>
      </nav>
    </div>
    </div>
    <div class="container">
      <div class="shadow-lg p-4 mb-7 bg-white rounded">
      <br><br>
      <div class="row justify-content-center">
        <span class="border">
        <div class="col">
          <div class="row justify-content-center">
            <h1><b>El fortnite</b></h1>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <span><b>Descripción</b>: el juego va de matar</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <span><b>Año de salida</b>: ese año</span>
            </div>
            <div class="col">
              <span><b>Categoría</b>: Battle Royale</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <span><b>Número de jugadores</b>: muchos</span>
            </div>
            <div class="col">
              <span><b>Nota media</b>: un 8 tio</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <span>Stio oficial de compra o descarga</span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gDYzriyKN9A" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        </span>
        <div class="col-6">
          <img class="rounded mx-auto d-block" src="img/fortnite.jpg" alt="GAMERUCOS" width="75%"/>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h3><b>Criticas</b></h3>
        </div>
      </div>
      <hr>
      <!-- aqui empieza la primera critica  -->
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <b>Nombre del autor</b>
          </div>
          <div class="col-xl-2">
            <b>Nota</b>
          </div>
          <div class="col-xl-2">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" id="buttonResta1" onclick="resta(1)">-</button>
              <button type="button" class="btn btn-light" id="contador1">8</button>
              <button type="button" class="btn btn-danger" id="buttonSuma1" onclick="suma(1)">+</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Toda la critica, toda la critica, toda la critica, toda la critica, toda la critica, toda la critica.
            Toda la critica, toda la critica, toda la critica, toda la critica, toda la critica, toda la critica.
            Toda la critica, toda la critica, toda la critica, toda la critica, toda la critica, toda la critica.
            Toda la critica, toda la critica, toda la critica, toda la critica, toda la critica, toda la critica.
            Toda la critica, toda la critica, toda la critica, toda la critica, toda la critica, toda la critica.
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="index.html" class="btn btn-sm btn-outline-primary">Responder o puntuar critica</a>
          </div>
        </div>
      </div>
      <hr>
      <!-- aqui termina una critica -->
      </div>
      </div>
      <footer class="footer mt-auto py-3">
        <div class="container">
          <div class="row justify-content-center">
            <!-- {% load static%} -->
            <!-- <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="{% static 'img/facebook.png' %}" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a> -->
            <a href="https://www.facebook.com/Gameruco-111156920561333/"><img src="img/facebook.png" alt="facebook logo" class="social-icon"  width="50em" height="50em"/></a>
            <!-- {% load static%} -->
            <!-- <a href="https://twitter.com/gamerucos"><img src="{% static 'img/twitter.png' %}" alt="logo twitter" class="social-icon"></a> -->
            <a href="https://twitter.com/gamerucos"><img src="img/twitter.png" alt="logo twitter" class="social-icon"></a>
          </div>
          <div class="row justify-content-center">
            <p>&copy; 2020 GAM3RUCO$</p>
          </div>
        </div>
      </footer>
  </body>
</html>
